// SPDX-FileCopyrightText: Copyright (c) 2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
// SPDX-License-Identifier: Apache-2.0

#include "@LIVE_IMPL_FILE@.hpp"

#include <mcap/recording_traits.hpp>
#include <schema/@SCHEMA@_bfbs_generated.h>

namespace core
{
namespace
{
SchemaTrackerConfig make_@NAME@_tensor_config(const @CLASS@* tracker)
{
    SchemaTrackerConfig cfg;
    cfg.collection_id = tracker->collection_id();
    cfg.max_flatbuffer_size = tracker->max_flatbuffer_size();
    cfg.tensor_identifier = @TENSOR_IDENTIFIER_EXPR@;
    cfg.localized_name = "@LOCALIZED_NAME@";
    return cfg;
}
} // namespace
std::unique_ptr<@MCAP_CHANNELS_TYPE@> @LIVE_IMPL@::create_mcap_channels(mcap::McapWriter& writer,
                                                                        std::string_view base_name)
{
    return std::make_unique<@MCAP_CHANNELS_TYPE@>(
        writer, base_name, @TRAITS@::schema_name,
        std::vector<std::string>(@TRAITS@::recording_channels.begin(), @TRAITS@::recording_channels.end()));
}
@LIVE_IMPL@::@LIVE_IMPL@(const OpenXRSessionHandles& handles,
                         const @CLASS@* tracker,
                         std::unique_ptr<@MCAP_CHANNELS_TYPE@> mcap_channels)
    : mcap_channels_(std::move(mcap_channels)),
      m_schema_reader(handles, make_@NAME@_tensor_config(tracker), mcap_channels_.get(), 0, 1)
{
    // No-op: members set in the initializer list.
}
void @LIVE_IMPL@::update(int64_t /*monotonic_time_ns*/)
{
    m_schema_reader.update(m_tracked);
}
const Serialized<@FB_TABLE@>& @LIVE_IMPL@::get_data() const
{
    return m_tracked;
}

} // namespace core
