// SPDX-FileCopyrightText: Copyright (c) 2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
// SPDX-License-Identifier: Apache-2.0

#pragma once
#include <deviceio_base/@BASE_HEADER@.hpp>
#include <mcap/tracker_channels.hpp>
#include <schema/@SCHEMA@_generated.h>

#include <cstdint>
#include <memory>
#include <string>
#include <string_view>
namespace core
{
using @MCAP_VIEWERS_TYPE@ = McapTrackerViewers<@RECORD_TYPE@>;
class @REPLAY_IMPL@ : public @IFACE@
{
public:
    @REPLAY_IMPL@(std::unique_ptr<mcap::McapReader> reader, std::string_view base_name);
    void update(int64_t monotonic_time_ns) override;
    const Serialized<@FB_TABLE@>& get_data() const override;

private:
    Serialized<@FB_TABLE@> tracked_;
    std::unique_ptr<@MCAP_VIEWERS_TYPE@> mcap_viewers_;
    std::string no_data_message_;
    bool warned_no_data_ = false;
};
} // namespace core
